body {
    background-color: #ebeff5; 
}

.icon-float {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: float 3s ease-in-out infinite;
}
  
.icon-float i {
    font-size: 1.4rem;
}
  
.icon-float.delay {
    animation-delay: 1.2s;
}
  
@keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-8px);
    }
}


.icon-float {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: float 3s ease-in-out infinite;
}
  
.icon-float i {
    font-size: 1.4rem;
}
  
.icon-float.delay {
    animation-delay: 1.2s;
}
  
@keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-8px);
    }
}

.text-pink {
    color: #e88aa3;
}